.site-masthead {
  box-sizing: border-box;
  position: relative;
  text-align: center;
}

.site-masthead h1 {
  font-size: 2.5em;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0 2rem;
  @media (min-width: $on-tablet) {
    font-size: 6em;
  }
}

.site-masthead h2 {
  color: $muted-text-color;
  font-size: 1em;
  margin: 0;
  padding: 0 2rem;
  @media (min-width: $on-tablet) {
    font-size: 3em;
  }
}