@mixin divider {
  border: 0;
  display: block;
  width: 70%;
  height: 2px;
  margin: .5em auto 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  /* background: url(#{$asset_url}/images/divider.svg) no-repeat top center;*/
}