#search {
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

#search__input {
  background: transparent;
  border: 1px dashed $muted-text-color;
  font: 1em $font-family;
  padding: .5em;
  color: $text-color;
  text-align: center;
  &:focus {
    outline: 1px dashed $text-color;
  }
}

#search button[type="submit"] {
  display: none;
}

::-webkit-input-placeholder {
  color: $muted-text-color;
}
::-moz-placeholder {
  color: $muted-text-color;
}
:-ms-input-placeholder {
  color: $muted-text-color;
}
:-moz-placeholder {
  color: $muted-text-color;
}