$brand-color:         #8f8f8f;
/*$brand-color:       #fede00;*/
$highlight:           lighten($brand-color, 35%);
$text-color:          #0b0404;
$muted-text-color:    #3a3c47;
$font-family:         "EB Garamond", Garamond, "Times New Roman", serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;